.account {
  display: flex;
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
}

.icon {
  flex: 0 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: #00aa00;
}

.description {
  flex: 3;
  font-weight: normal;
}

.amount {
  flex: 1;
  text-align: right;
  font-weight: normal;
}
